<!DOCTYPE html>
<html lang="en" ng-app="userModule">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
</head>
<body>
    <div ng-view></div>
    
    <script src="/angular/angular.min.js"></script>
    <script src="/angular-resource/angular-resource.min.js"></script>
    <script src="/angular-route/angular-route.min.js"></script>
    <script src="/js/app-userModule.js"></script>
</body>
</html>